<div class="bg-[#2D6A6B] text-white py-4 px-6">
    <div class="flex flex-col md:flex-row items-center justify-center  gap-4">
      <!-- Question text -->
      <div class="text-center md:text-left">
        <span class="text-md ">{{'do_you_have_any_questions' | translate}}</span>
      </div>
      
      <!-- Contact info -->
      <div class="flex flex-col md:flex-row items-center gap-4 md:gap-6">
        <div class="flex items-center gap-2">
          <span class="text-sm">{{'contact_us_at' | translate}}</span>
          <div class="flex items-center gap-1 text-sm">
            <mat-icon class="text-white text-base">phone</mat-icon>
            <a 
              href="tel:{{parentCompany?.phone_number}}" 
              class="text-white hover:text-gray-200  transition-colors"
            >
              {{parentCompany?.phone_number}}
            </a>
          </div>
        </div>
        
        <div class="flex items-center gap-1 text-sm">
          <mat-icon class="text-white text-base ">email</mat-icon>
          <a 
            href="mailto:{{parentCompany?.email}}" 
            class="text-white hover:text-gray-200 transition-colors"
          >
            {{parentCompany?.email }}
          </a>
        </div>
      </div>
    </div>
  </div>